.footer{
    padding-top: 113px;
    &-top{
        display: flex;
        padding-bottom: 110px;
        margin-bottom: 10px;
        justify-content:space-between;
    }
    &-bottom{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.department{
    &-container{
    display: flex;
    }
    &-name{
        font-size: 32px;
        font-weight: bold;
        
    }
    &-title{
        margin-top: 24px;
        font-weight: bold;
        margin-bottom: 13px;
    }
    &-left{
        margin-right: 30px;
    }
    &-list{
        line-height: 1.6;
    }
}
.contact{
    &-name{
        font-size: 32px;
        font-weight: bold; 
    }
    &-title{
        margin-top: 24px;
        font-weight: bold;
        margin-bottom: 13px;
    }
    &-list{
        line-height: 1.6;
    }
}
.media{
    display: flex;
    align-items: end;
    &-list{
        display: flex;
    }
    &-item{
        margin-right: 25px;
    }
}
.footer {
    position: relative;
}

.footer-circle {
    top: 100%;
    right: -17%;
    transform: translate(0, -50%);
    position: absolute;
    width: 976px;
    height: 976px;
    background-color: #50c1c7;
    border-radius: 50%;
    z-index: -1;
}
.made-in-line{
    width: 100%;
    border: 1px solid #80808029;
    position: relative;
    z-index: -2;
}
@media screen and (max-width: 1024px) {
    .footer{
        &-top{
            padding-left: 30px;
        }
        &-bottom{
            margin-left: 30px;
        }
    }
    .footer-circle{
        width: 800px;
        height: 800px;
        transform: translate(15%,-55%);
    }
}
@media screen and (max-width: 912px) {
    .circle{
        width: 800px;
        height: 800px;
        transform: translate(26%,-50%);
    }
  
}
@media screen and (max-width: 821px) { 
    .department {
        &-list{
            line-height: 1.6;
        }
    }
    .contact {
        &-list{
            line-height: 1.6;
        }
    }  
}
@media screen and (max-width: 768px) {
    .footer{
        &-top{
            display: flex;
            flex-direction: column;
        }
    }
    .department {
        margin-bottom: 30px;
        &-list{
            line-height: 1.6;
        }
        &-left{
            margin-right: 100px;
        }
    }
    .contact {
        margin-bottom: 30px;
        
        &-list{
            line-height: 1.6;
        }
    }
    .footer-circle {
        width: 900px;
        height: 900px;
        transform: translate(-14%, -55%);
    }
}
@media screen and (max-width: 431px) {
    
    
}
@media (min-width: 343px) and (max-width: 400px) {
    .department {
        
        &-left{
            margin-right: 70px;
        }
    }
    .footer-circle {
        width: 800px;
        height: 800px;
        transform: translate(0%, -55%);
    }
}